* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0 !important;
}
html,
body {
  width: 100%;
  font-size: 16px;
  -ms-overflow-style: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
h1 {
  display: none !important;
}
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 68px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 28px;
}
h5 {
  font-size: 18px;
}
a,
p {
  color: #333;
}
li {
  line-height: 1.6em;
  margin-bottom: 8px;
}
p {
  line-height: 1.3em;
  margin-bottom: 5px;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
::-webkit-input-placeholder {
  color: #333;
}
:-moz-placeholder {
  color: #333;
}
::-moz-placeholder {
  color: #333;
}
:-ms-input-placeholder {
  color: #333;
}
/* VALIGN CLASSES */
.ghost,
.pacman {
  display: inline-block;
  vertical-align: middle;
}
.ghost {
  height: 100%;
  width: 0.01%;
}
.pacman {
  width: 99.9%;
}
.img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-pri {
  color: #333;
}
.text-sec {
  color: #AAA;
}
.text-tri {
  color: #FFF;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
ul.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.nav li {
  display: inline-block;
}
.pad-top {
  padding-top: 30px;
}
.pad-right {
  padding-right: 30px;
}
.pad-bottom {
  padding-bottom: 30px;
}
.pad-left {
  padding-left: 30px;
}
.fa.offset-right {
  margin-right: 10px;
  display: inline-block;
  width: 18px;
  text-align: center;
}
.fa.offset-left {
  margin-left: 5px;
  display: inline-block;
  text-align: center;
}
#__bs_notify__ {
  top: auto !important;
  bottom: 0 !important;
  border-radius: 0 !important;
  padding: 5px !important;
}
#main {
  width: 100%;
  padding-top: 48px;
}
#nav-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid #333;
  background: #FFF;
}
#nav-main ul {
  width: 100%;
}
#nav-main ul li {
  width: 25%;
}
#login-page {
  background: #000;
  color: #AAA;
}
.panel {
  padding: 15px;
}
table {
  max-width: 100%;
}
.machine-list.loading {
  padding: 40px 30px;
  border-bottom: 1px #DDD solid;
}
.machine-list p {
  margin: 0;
}
.machine {
  width: 100%;
  border: 1px #DDD solid;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}
.machine .machine-top {
  padding-left: 40px;
  position: relative;
}
.machine .machine-top:before,
.machine .machine-top:after {
  content: "";
  display: table;
}
.machine .machine-top:after {
  clear: both;
}
.machine p {
  margin: 0;
  margin-bottom: 4px;
  font-size: 15px;
  color: #333;
}
.machine p .fa {
  color: #FFF;
  text-shadow: 0px 0px 1px #010101;
  vertical-align: middle;
}
.machine p .fa-circle {
  color: #333;
  text-shadow: none;
}
.machine .machine-status {
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -6px;
}
.machine .machine-status .fa {
  width: 18px;
  text-align: center;
}
.machine .machine-status .fa.running,
.machine .machine-status .fa.active {
  color: green;
}
.machine .machine-status .fa.pending {
  color: orange;
}
.machine .machine-status .fa.stopped {
  color: red;
}
.machine .machine-label {
  color: #000;
}
.machine .machine-col {
  width: 33.333%;
  float: left;
  padding: 20px;
}
.machine .machine-label {
  font-weight: bold;
  font-size: 1.1em;
}
.machine .machine-ip .text {
  font-weight: bold;
}
.machine .fa-circle {
  font-size: 0.6em;
}
.machine .machine-bottom {
  border-top: 1px #DDD solid;
}
.machine .machine-bottom:before,
.machine .machine-bottom:after {
  content: "";
  display: table;
}
.machine .machine-bottom:after {
  clear: both;
}
.machine .machine-bottom.status-pending .action .fa,
.machine .machine-bottom.status-starting .action .fa,
.machine .machine-bottom.status-halting .action .fa,
.machine .machine-bottom.status-rebooting .action .fa,
.machine .machine-bottom.status-reinstalling .action .fa,
.machine .machine-bottom.status-changing-os .action .fa,
.machine .machine-bottom.status-destorying .action .fa,
.machine .machine-bottom.status-pending .action .label,
.machine .machine-bottom.status-starting .action .label,
.machine .machine-bottom.status-halting .action .label,
.machine .machine-bottom.status-rebooting .action .label,
.machine .machine-bottom.status-reinstalling .action .label,
.machine .machine-bottom.status-changing-os .action .label,
.machine .machine-bottom.status-destorying .action .label {
  color: #EEE;
}
.machine .machine-bottom.status-starting .start .fa,
.machine .machine-bottom.status-starting .start .label {
  transform: all 1s;
  animation: flash-status 2s infinite;
}
.machine .machine-bottom.status-halting .halt .fa,
.machine .machine-bottom.status-halting .halt .label {
  transform: all 1s;
  animation: flash-status 2s infinite;
}
.machine .machine-bottom.status-rebooting .reboot .fa,
.machine .machine-bottom.status-rebooting .reboot .label {
  transform: all 1s;
  animation: flash-status 2s infinite;
}
.machine .machine-bottom.status-reinstalling .reinstall .fa,
.machine .machine-bottom.status-reinstalling .reinstall .label {
  transform: all 1s;
  animation: flash-status 2s infinite;
}
.machine .machine-bottom.status-changing-os .change-is .fa,
.machine .machine-bottom.status-changing-os .change-is .label {
  transform: all 1s;
  animation: flash-status 2s infinite;
}
.machine .machine-bottom.status-destorying .destroy .fa,
.machine .machine-bottom.status-destorying .destroy .label {
  transform: all 1s;
  animation: flash-status 2s infinite;
}
.machine .machine-btn {
  width: 14.2%;
  float: left;
  text-align: center;
  border-right: 1px #DDD solid;
  padding: 10px;
  cursor: pointer;
}
.machine .machine-btn:last-child {
  border-right: 0;
}
.machine .machine-btn .fa,
.machine .machine-btn .label {
  transition: all 0.5s;
}
.machine .machine-btn .label {
  margin: 0;
  margin-top: 2px;
  font-size: 11px;
}
@keyframes flash-status {
  0% {
    color: #EEE;
  }
  50% {
    color: #AAA;
  }
  100% {
    color: #EEE;
  }
}
