.monospace {
  font-family: 'Source Code Pro';
  letter-spacing: 0.18em;
  text-shadow: 0px 0px 5px #333;
}
* {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0 !important;
}
html,
body {
  width: 100%;
  font-size: 16px;
  -ms-overflow-style: none;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #333;
  background-color: #25aacb;
}
h1 {
  display: none !important;
}
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
h2 {
  font-size: 68px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 28px;
}
h4.title {
  color: #FFF;
  margin: 60px 0;
  font-size: 40px;
}
h5 {
  font-size: 18px;
}
a,
p {
  color: #333;
}
li {
  line-height: 1.6em;
  margin-bottom: 8px;
}
p {
  line-height: 1.3em;
  margin-bottom: 5px;
}
ol,
ul {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
::-webkit-input-placeholder {
  color: #333;
}
:-moz-placeholder {
  color: #333;
}
::-moz-placeholder {
  color: #333;
}
:-ms-input-placeholder {
  color: #333;
}
/* VALIGN CLASSES */
.ghost,
.pacman {
  display: inline-block;
  vertical-align: middle;
}
.ghost {
  height: 100%;
  width: 0.01%;
}
.pacman {
  width: 99.9%;
}
.img-responsive {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-pri {
  color: #333;
}
.text-sec {
  color: #25aacb;
}
.text-tri {
  color: #EFEFEF;
}
.upper {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.cover {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
ul.nav {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.nav li {
  display: inline-block;
}
.pad-top {
  padding-top: 30px;
}
.pad-right {
  padding-right: 30px;
}
.pad-bottom {
  padding-bottom: 30px;
}
.pad-left {
  padding-left: 30px;
}
.fa.offset-right {
  margin-right: 10px;
  display: inline-block;
  width: 18px;
  text-align: center;
}
.fa.offset-left {
  margin-left: 5px;
  display: inline-block;
  text-align: center;
}
.title {
  margin: 30px 0;
}
ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.nav li {
  margin: 0;
}
.panel {
  background: #EFEFEF;
  -webkit-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75);
}
.page-inner {
  max-width: 1200px;
  margin: auto;
}
.expand {
  height: 0;
}
.expand .inner:before,
.expand .inner:after {
  content: "";
  display: table;
}
.expand .inner:after {
  clear: both;
}
/*** custom checkboxes ***/
input[type=checkbox] {
  display: none;
}
/* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
input[type=checkbox] + label:before {
  content: "\f096";
}
/* unchecked icon */
input[type=checkbox] + label:before {
  letter-spacing: 10px;
}
/* space between checkbox and label */
input[type=checkbox].checked + label:before {
  content: "\f046";
}
/* checked icon */
input[type=checkbox].checked + label:before {
  letter-spacing: 7px;
}
/* allow space for check mark */
#__bs_notify__ {
  top: auto !important;
  bottom: 0 !important;
  border-radius: 0 !important;
  padding: 5px !important;
}
#main {
  width: 100%;
  padding-top: 66px;
  background-color: #25aacb;
}
#nav-main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 1px solid #DDD;
  background-color: #FFF;
}
#nav-main ul {
  width: 100%;
}
#nav-main ul li {
  width: 25%;
  border-right: 1px solid #DDD;
}
#nav-main ul li:last-child {
  border-right: 0;
}
#nav-main ul li .fa {
  font-size: 20px;
}
.page {
  padding: 0 15px;
}
table {
  max-width: 100%;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  padding: 12px;
  font-size: 12px;
}
#footer a,
#footer p {
  color: #666;
  margin: 0;
}
#footer .bottom {
  margin-top: 3px;
}
#footer .bottom a {
  text-decoration: underline;
}
#footer .top .fa {
  font-size: 20px;
}
#footer .top span {
  display: inline-block;
  margin-left: 5px;
}
#footer .top .fa,
#footer .top span {
  vertical-align: middle;
}
#login-page {
  padding: 30px;
}
#login-page h2 {
  color: #FFF;
  margin: 100px 0 100px 0;
  margin: 8vh 0 8vh 0;
  font-size: 80px;
}
#login-page p {
  color: #FFF;
  font-size: 28px;
}
#login-page p.intro {
  margin-bottom: 60px;
}
#login-page p.small {
  font-size: 14px;
  margin-top: 60px;
}
#login-page .form-element {
  padding: 8px 15px;
  color: #FFF;
}
#login-page .form-element.text {
  color: #222;
}
#login-page .form-element.text input {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #AAA;
  box-shadow: 0px 0px 5px #333;
}
#login-page .form-element.button {
  font-size: 18px;
}
#login-page .form-element.button button {
  width: 250px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#login-page .form-element.button .fa {
  margin-left: 5px;
}
.machine-list.loading {
  padding: 40px 30px;
  border-bottom: 1px #DDD solid;
}
.machine-list p {
  margin: 0;
}
.machine-list.empty .deploy {
  font-weight: bold;
  margin-top: 20px;
}
.machine {
  width: 100%;
  border: 1px #DDD solid;
  margin-bottom: 15px;
}
.machine .machine-top {
  padding-left: 40px;
  position: relative;
}
.machine .machine-top:before,
.machine .machine-top:after {
  content: "";
  display: table;
}
.machine .machine-top:after {
  clear: both;
}
.machine p {
  margin: 0;
  margin-bottom: 4px;
  font-size: 15px;
  color: #333;
}
.machine p .fa {
  color: #FFF;
  text-shadow: 0px 0px 1px #010101;
  vertical-align: middle;
}
.machine p .fa-circle {
  color: #333;
  text-shadow: none;
}
.machine .machine-status {
  position: absolute;
  left: 16px;
  top: 50%;
  margin-top: -12px;
}
.machine .machine-status .fa {
  font-size: 1.8em;
  text-align: center;
}
.machine .machine-status .fa.ng-hide {
  display: none;
}
.machine .machine-status .fa.running,
.machine .machine-status .fa.active {
  color: green;
  cursor: pointer;
}
.machine .machine-status .fa.pending {
  color: orange;
}
.machine .machine-status .fa.stopped {
  color: red;
}
.machine .machine-label {
  color: #000;
}
.machine .machine-col {
  width: 33.333%;
  float: left;
  padding: 20px;
}
.machine .machine-label {
  font-weight: bold;
  font-size: 1.1em;
}
.machine .machine-ip .text {
  font-weight: bold;
}
.machine .fa-circle {
  font-size: 0.6em;
}
.machine .machine-bottom {
  border-top: 1px #DDD solid;
  padding: 0;
}
.machine .machine-bottom:before,
.machine .machine-bottom:after {
  content: "";
  display: table;
}
.machine .machine-bottom:after {
  clear: both;
}
.machine .machine-bottom.status-pending .action,
.machine .machine-bottom.status-starting .action,
.machine .machine-bottom.status-halting .action,
.machine .machine-bottom.status-rebooting .action,
.machine .machine-bottom.status-reinstalling .action,
.machine .machine-bottom.status-changing-os .action,
.machine .machine-bottom.status-destroying .action {
  cursor: progress;
}
.machine .machine-bottom.status-pending .fa,
.machine .machine-bottom.status-starting .fa,
.machine .machine-bottom.status-halting .fa,
.machine .machine-bottom.status-rebooting .fa,
.machine .machine-bottom.status-reinstalling .fa,
.machine .machine-bottom.status-changing-os .fa,
.machine .machine-bottom.status-destroying .fa,
.machine .machine-bottom.status-pending .label,
.machine .machine-bottom.status-starting .label,
.machine .machine-bottom.status-halting .label,
.machine .machine-bottom.status-rebooting .label,
.machine .machine-bottom.status-reinstalling .label,
.machine .machine-bottom.status-changing-os .label,
.machine .machine-bottom.status-destroying .label {
  color: #AAA;
}
.machine .machine-bottom.status-pending.state-none,
.machine .machine-bottom.status-starting.state-none,
.machine .machine-bottom.status-halting.state-none,
.machine .machine-bottom.status-rebooting.state-none,
.machine .machine-bottom.status-reinstalling.state-none,
.machine .machine-bottom.status-changing-os.state-none,
.machine .machine-bottom.status-destroying.state-none,
.machine .machine-bottom.status-pending.state-locked,
.machine .machine-bottom.status-starting.state-locked,
.machine .machine-bottom.status-halting.state-locked,
.machine .machine-bottom.status-rebooting.state-locked,
.machine .machine-bottom.status-reinstalling.state-locked,
.machine .machine-bottom.status-changing-os.state-locked,
.machine .machine-bottom.status-destroying.state-locked {
  color: #AAA;
}
.machine .machine-bottom.status-starting .start .fa,
.machine .machine-bottom.status-starting .start .label {
  transform: all 1s;
  animation: flash-status 2s infinite;
}
.machine .machine-bottom.status-halting .halt .fa,
.machine .machine-bottom.status-halting .halt .label {
  transform: all 1s;
  animation: flash-status 2s infinite;
}
.machine .machine-bottom.status-rebooting .reboot .fa,
.machine .machine-bottom.status-rebooting .reboot .label {
  transform: all 1s;
  animation: flash-status 2s infinite;
}
.machine .machine-bottom.status-reinstalling .reinstall .fa,
.machine .machine-bottom.status-reinstalling .reinstall .label {
  transform: all 1s;
  animation: flash-status 2s infinite;
}
.machine .machine-bottom.status-changing-os .change-is .fa,
.machine .machine-bottom.status-changing-os .change-is .label {
  transform: all 1s;
  animation: flash-status 2s infinite;
}
.machine .machine-bottom.status-destorying .destroy .fa,
.machine .machine-bottom.status-destorying .destroy .label {
  transform: all 1s;
  animation: flash-status 2s infinite;
}
.machine .machine-btn {
  width: 16.6666%;
  float: left;
  text-align: center;
  border-right: 1px #DDD solid;
  padding: 10px;
  cursor: pointer;
}
.machine .machine-btn:last-child {
  border-right: 0;
}
.machine .machine-btn .fa,
.machine .machine-btn .label {
  transition: all 0.3s;
}
.machine .machine-btn .label {
  margin: 0;
  margin-top: 2px;
  font-size: 11px;
}
.machine .machine-btn.more-info.active .fa {
  transform: rotate(-180deg);
}
.machine .machine-more {
  overflow: hidden;
}
.machine .machine-more .inner {
  border-top: 1px solid #AAA;
}
@keyframes flash-status {
  0% {
    color: #EEE;
  }
  50% {
    color: #AAA;
  }
  100% {
    color: #EEE;
  }
}
.page.deploy .select {
  float: left;
  width: 33%;
  padding: 0 10px;
}
.page.deploy .type-nav:before,
.page.deploy .type-nav:after {
  content: "";
  display: table;
}
.page.deploy .type-nav:after {
  clear: both;
}
.page.deploy .type-nav.selected .type-btn .fa,
.page.deploy .type-nav.selected .type-btn p {
  color: #DDD;
}
.page.deploy .type-nav.selected .type-btn.active .fa,
.page.deploy .type-nav.selected .type-btn.active p {
  color: #333;
}
.page.deploy .type-btn {
  width: 33.33%;
  float: left;
  text-align: center;
  cursor: pointer;
  border-right: 1px solid #DDD;
}
.page.deploy .type-btn:last-child {
  border-right: 0;
}
.page.deploy .type-btn .fa,
.page.deploy .type-btn p {
  color: #666;
  transition: all 0.5s;
}
.page.deploy .type-btn .fa {
  font-size: 1.5em;
}
.page.deploy .type-btn p {
  margin: 0;
}
.page.deploy .server-config {
  border-top: 1px solid #DDD;
}
.page.deploy .server-config:before,
.page.deploy .server-config:after {
  content: "";
  display: table;
}
.page.deploy .server-config:after {
  clear: both;
}
.page.deploy .server-additional .top:before,
.page.deploy .server-additional .bottom:before,
.page.deploy .server-additional .top:after,
.page.deploy .server-additional .bottom:after {
  content: "";
  display: table;
}
.page.deploy .server-additional .top:after,
.page.deploy .server-additional .bottom:after {
  clear: both;
}
.page.deploy .server-additional .top {
  border-bottom: 1px solid #DDD;
}
.page.deploy .textfield-label,
.page.deploy .submit-deploy {
  display: block;
  margin: auto;
  max-width: 300px;
  width: 100%;
}
.page.deploy .textfield-label input,
.page.deploy .submit-deploy input,
.page.deploy .textfield-label button,
.page.deploy .submit-deploy button {
  width: 100%;
}
.page.deploy .submit-deploy button {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.page.deploy .textfield-label p {
  margin-top: 0;
}
