<div id="login-page" class="text-center">
    <h2 class="monospace">VultrApp</h2>
 <!--
    <div class="form-element text text-email">
        <input type="text" placeholder="Email" ng-model="vultr_email">
    </div>
    <div class="form-element text text-password">
        <input type="password" placeholder="Password" ng-model="vultr_password">
    </div>
    <div class="form-element button button-login">
        <button class="pure-button" ng-click="login()">
                Login <i class="fa fa-arrow-circle-right"></i></button>
    </div>
    -->
    <p class="intro">Enter your Vultr API Key to begin managing your machines</p>
    <div class="form-element text text-key">
        <input type="text" ng-model="vultr_key">
    </div>
    <div class="form-element button button-save-key">
        <button class="pure-button" ng-click="save_key()"
            ng-focus="vultr_key == ''"
            ng-disabled="vultr_key == ''">
                Login <i class="fa fa-arrow-circle-right"></i></button>
    </div>
    <p class="small"><a href="https://my.vultr.com/settings" target="_blank">Where do I find my API Key?</a></p>
</div>