<ng-include src="'/_partials/nav.html'"></ng-include>
<div class="page" ng-init="init()">
    <h4 class="text-center title upper monospace"><i class="fa fa-home"></i> Machines</h4>
    <div class="top machine-list page-inner" ng-show="servers">
        <div class="machine panel" ng-repeat="server in servers">
            <div class="machine-top">
                <div class="machine-status">
                    <i class="fa fa-power-off power {{server.power_status}}" ng-show="server.status == 'active'"></i>
                    <i class="fa fa-spinner fa-pulse pending" ng-hide="server.status == 'active'"></i>
                </div>
                <div class="pure-g">
                    <div class="machine-col machine-secrets pure-u-1-1 pure-u-md-1-3">
                        <p class="machine-label">{{server.label}}</p>
                        <p class="machine-meta machine-ip"><i class="fa fa-cloud offset-right"></i><span class="text">{{server.main_ip}}</span></p>
                        <p class="machine-meta"><i class="fa fa-lock offset-right"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <i class="fa fa-circle"></i>
                            <span> [show]</span>
                        </p>
                    </div>
                    <div class="machine-col machine-details pure-u-1-2 pure-u-md-1-3">
                        <p class="machine-meta"><i class="fa fa-server offset-right"></i>{{server.ram}} / {{server.vcpu_count}} CPUS [change]</p>
                        <p class="machine-meta"><i class="fa fa-hdd-o offset-right"></i>{{server.disk}}</p>
                        <p class="machine-meta"><i class="fa fa-linux offset-right"></i>{{server.os}} [change]</p>
                    </div>

                    <div class="machine-col machine-usage pure-u-1-2 pure-u-md-1-3">
                        <p class="machine-meta"><i class="fa fa-usd offset-right"></i>${{server.pending_charges}} / ${{server.cost_per_month}}</p>
                        <p class="machine-meta"><i class="fa fa-exchange fa-rotate-90 offset-right"></i>{{server.current_bandwidth_gb}} / {{server.allowed_bandwidth_gb}} GB</p>
                        <p class="machine-meta"><i class="fa fa-globe offset-right"></i>{{server.location}}</p>
                    </div>
                </div>
            </div>
            <ul class="machine-bottom nav status-{{server.status}} state-{{server.server_state}}">
                <li class="machine-btn console action"
                    ng-click="machine_action_console(server.SUBID)">
                    <i class="fa fa-laptop"></i>
                    <p class="label">Console</p>
                </li>
                <li class="machine-btn action start"
                    ng-click="machine_action_start(server.SUBID)"
                    ng-show="server.power_status != 'running'">
                    <i class="fa fa-play"></i>
                    <p class="label">Start</p>
                </li>
                <li class="machine-btn action halt"
                    ng-click="machine_action_halt(server.SUBID)"
                    ng-show="server.power_status == 'running'">
                    <i class="fa fa-stop"></i>
                    <p class="label">Stop</p>
                </li>
                <li class="machine-btn action reboot"
                    ng-click="machine_action_reboot(server.SUBID)">
                    <i class="fa fa-refresh"></i>
                    <p class="label">Reboot</p>
                </li>
                <li class="machine-btn action reinstall"
                    ng-click="machine_action_reinstall(server.SUBID)">
                    <i class="fa fa-download"></i>
                    <p class="label">Reinstall</p>
                </li>
                <li class="machine-btn action destroy"
                    ng-click="machine_action_destroy(server.SUBID)">
                    <i class="fa fa-times"></i>
                    <p class="label">Destroy</p>
                </li>
                <li class="machine-btn more-info"
                    ng-class="{active: server.more_info}"
                    ng-click="machine_more(server.SUBID)">
                    <i class="fa fa-chevron-down"></i>
                    <p class="label">More Info</p>
                </li>
            </ul>

            <div class="machine-more ng-hide-animate expand" ng-show="server.more_info">
                <div class="inner">
                    <ul class="nav info-top">
                        <li class="machine-btn info usage">
                            <i class="fa fa-bar-chart"></i>
                            <p class="label">Usage</p>
                        </li>
                        <li class="machine-btn info network">
                            <i class="fa fa-cloud"></i>
                            <p class="label">Network</p>
                        </li>
                        <li class="machine-btn info snapshots">
                            <i class="fa fa-camera-retro"></i>
                            <p class="label">Snapshots</p>
                        </li>
                        <li class="machine-btn info snapshots">
                            <i class="fa fa-cloud-download"></i>
                            <p class="label">Backups</p>
                        </li>
                        <li class="machine-btn info snapshots">
                            <i class="fa fa-bomb"></i>
                            <p class="label">DDOS</p>
                        </li>
                        <li class="machine-btn info snapshots">
                            <i class="fa fa-camera-retro"></i>
                            <p class="label">Custom ISO</p>
                        </li>
                    </ul>
                    <div class="info-bottom">
                        <div class="info-panel usage">
                            <div ng-show="bandwidth">
                                <canvas id="line" class="chart chart-line" chart-data="bandwidth.data"
                                  chart-labels="bandwidth.labels" chart-legend="true" chart-series="bandwidth.series">
                                </canvas>
                            <p class="text-italic text-center panel-msg">Note: only bandwidth usage is available at this time</p>
                            </div>
                            <div class="panel-loading" ng-hide="bandwidth">
                                <i class="fa fa-spin fa-circle-o-notch loading"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top machine-list loading panel" ng-show="servers_loading">
        <p class="text-center"><i class="fa fa-spin fa-circle-o-notch"></i> Loading..</p>
    </div>
    <div class="top machine-list loading empty panel" ng-show="servers.length == 0">
        <p class="text-center"><i class="fa fa-exclamation-triangle"></i></p>
        <p class="text-center">You don't have any Machines</p>
        <p class="text-center deploy"><a href="/#/deploy"><i class="fa fa-plus-circle"></i> Deploy A Machine</a></p>
    </div>
    <div class="top machine-list loading panel" ng-show="servers_error">
        <p class="text-center">Error Loading Machines. Please try again</p>
    </div>
</div>