#main {
    width: 100%;
    padding-top: 48px;background-color: #25aacb;
}

#nav-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid @theme-border-color-pri;
    ul {
        width: 100%;
        li {
            width: 25%;
        }
    }
}

#login-page {
    background: #000;
    color: @theme-color-sec;
}

.page {
    padding: @base-padding-sm;
}

table {
    max-width: 100%;
}
