<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Title</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <!--<![endif]-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/app.css">
        <script src="js/modernizr.js"></script>
    </head>
    <body ng-app="vultrWebClient">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="main">
            <nav id="nav-main" class="pure-menu pure-menu-horizontal text-center">
                <ul class="pure-menu-list">
                  <li class="pure-menu-item"><a href="/#/machines" class="pure-menu-link"><i class="fa fa-home fa-fx"></i></a></li>
                  <li class="pure-menu-item"><a href="/#/deploy" class="pure-menu-link"><i class="fa fa-plus-circle fa-fx"></i></a></li>
                  <li class="pure-menu-item"><a href="/#/settings" class="pure-menu-link"><i class="fa fa-cog fa-fx"></i></a></li>
                </ul>
            </nav>
            <div id="login-overlay" ng-controller="LoginCtrl" ng-show="overlayVisible">
                <h3>Login with your Vultr API Key</h3>
                <input type="text" ng-model="vultrKey">
                <button class="pure-button" ng-click="saveKey()">Login</button>
            </div>
            <div ng-view class="root-view"></div>            
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.4/angular-route.min.js"></script>

        <script src="js/app.js"></script>
        <script src="js/services/apiService.js"></script>
        <script src="js/controllers/MachinesCtrl.js"></script>
        <script src="js/controllers/LoginCtrl.js"></script>
    </body>
</html>